.vs/
.idea/
.vscode/
*.sln
*.VC.db
*.VC.opendb

cmake-build-*/

Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/

*.xcodeproj
*.xcworkspace

*.patch
*.obj
*.pdb
*.ipch

*.log

.DS_Store
Thumbs.db